include includes.pug
html
  body
    .container
      hr.thin
      .row.header
        h1.title.col-md-6.header.text
          img(width="45px" height="45px" src="images/header.png")
          | M. Gage Morgan's Blog
        .col-md-2.header.push-md-4
          i.fa.fa-facebook-square.fa-3x(aria-hidden="true") &nbsp;         
          i.fa.fa-twitter-square.fa-3x(aria-hidden="true")
        
      .row.tabs
        .col-md-12
          hr.head
          ul.nav.nav-tabs
            li.nav-item
              a.nav-link.active(href="#"): strong Recent
  
            li.nav-item
              a.nav-link(data-toggle="tab" href="#rants"): strong Rants
              
            li.nav-item
              a.nav-link(href="#"): strong Christoffen
              
            li.nav-item
              a.nav-link(href="#"): strong Theory
              
            li.nav-item
              a.nav-link(href="#"): strong Archive
              
            li.nav-item
              a.nav-link(href="#"): strong Personal Projects
        

