doctype html
head
  link(rel="stylesheet" href="css/main.css") 
  link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet" href="bower_components/tether/dist/css/tether.min.css")
  link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/tether/dist/js/tether.min.js") 
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  link(href="css/fonts/asar/asar.css" rel="stylesheet")
  link(href="css/fonts/bitter/bitter.css" rel="stylesheet")
