include includes.pug
html
  body
          br
          hr.thin
          h3.card-title Meta
          hr.normal
          p.card-text 
            | This is a WordPress widget 
            | which will one day allow me to log
            | into the WordPress site at gagesblog.com
          hr.thick
